<div class="page">
  <div class="profile-page-hero">
    <p><i class="fa fa-picture-o"></i>Open photo gallery</p>
    
    </div>
  <div class="profile-page-fold"></div>
  <div class="profile-page-body">

    

    <div class="small-9 columns main-content">
      
         <div class="small-3 columns">
        <div class="profile-avatar">
        <img class="avatar-image" {{bind-attr src=model.avatarUrl}} alt="">
      </div>
        </div>

        
        <div class="small-6 columns">
      <div class="profile">
          
          <div class="profile-rating section">
            
            <div class="section rating">
<!--        <h4>{{fa-icon 'thumbs-up'}} Rating</h4>-->
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
      </div>
            
        <!-- <h4>{{fa-icon 'user'}} Contact</h4> -->
        
      </div>
          
          
        <h3>{{model.fullName}}</h3>
        <div class="divider"></div>
        <h6>{{model.nickname}}</h6>
        
          
          <div class="contact-info">
          {{#if model.facebookUrl}}
          <a {{bind-attr href=model.facebookUrl}}>{{fa-icon "facebook-square" size=1}}Profile</a><br>
        {{/if}}
        {{#if model.email}}
          <a {{bind-attr href=model.mailToEmail}}>{{fa-icon "envelope-o" size=1}}{{model.mailToEmail}}</a>
        {{/if}}<br>
        {{#if model.phone}}
          <a {{bind-attr href=model.callToPhone}}>{{fa-icon "phone" size=1}}{{model.callToPhone}}</a>
        {{/if}} 
          </div>   
          
      </div>
    </div>
        
    <div class="small-3 columns">
        
        <div class="share-box">
            <h6 class="butt-favorite"><i class="fa fa-heart-o fa-2x"></i> Add to favorites</h6>
            
            <div class="butt-share"><h6>Share:</h6> 
            <i class="fa fa-facebook fa-2x"></i> 
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-linkedin fa-2x"></i>
            <i class="fa fa-weibo fa-2x"></i>
                </div>
          </div>   
        
    </div>
        
        <div class="small-12 columns main-content">
        
        <div class="profile-details">
       
        <div class="section">
         <h4>About this driver</h4>
            
             <p>{{model.description}}</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        
        </div>
            
        <div class="section comments">
        <h4>{{fa-icon 'list-ul'}}  23 comments</h4>
        
          <div class="tag comment">
                <div class="small-6 columns"> 
            Comment 1
                </div>
              <div class="small-6 columns"> 
            <div class="section rating">
<!--        <h4>{{fa-icon 'thumbs-up'}} Rating</h4>-->
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
      </div>
                </div>
            </div>
            
            <div class="tag comment">
                <div class="small-6 columns"> 
            Comment 1
                </div>
              <div class="small-6 columns"> 
            <div class="section rating">
<!--        <h4>{{fa-icon 'thumbs-up'}} Rating</h4>-->
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
      </div>
                </div>
            </div>
       
            </div>
            
        
        
    </div>
        </div>

        
    </div>
        
        
    <div class="small-3 columns right">
        
        <div class="section">
        <h4>{{fa-icon 'comment'}} Language Spoken</h4>
        {{#each lang in model.languagesSpoken}}
          <div class="tag">{{lang}}</div>
        {{/each}}
      </div>

      <div class="section">
        <h4>{{fa-icon 'pencil'}} Language Written</h4>
        {{#each lang in model.languagesWritten}}
          <div class="tag">{{lang}}</div>
        {{/each}}
      </div>
        
      <div class="section">
        <h4>{{fa-icon 'home'}} City</h4>
        {{#each city in model.cities}}
          <div class="tag">{{city}}</div>
        {{/each}}
      </div>

      <div class="section">
        <h4>{{fa-icon 'taxi'}} Vehicle</h4>
        {{#each vehicle in model.vehicles}}
          <div class="tag">{{vehicle}}</div>
        {{/each}}
      </div>

      <div class="section">
        <h4>{{fa-icon 'tachometer'}} Driving Experience</h4>
        <div class="tag">
         {{model.drivingYears}} years
            </div>
      </div>
    </div>
  </div>
</div>
