<div class="page">
  <div class="profile-page-hero"></div>
  <div class="profile-page-fold"></div>
  <div class="profile-page-body">

    <div class="small-3 columns left">
        
        <div class="section">
        <h4>{{fa-icon 'comment'}} Language Spoken</h4>
        {{#each lang in model.languagesSpoken}}
          <div class="tag">{{lang}}</div>
        {{/each}}
      </div>

      <div class="section">
        <h4>{{fa-icon 'pencil'}} Language Written</h4>
        {{#each lang in model.languagesWritten}}
          <div class="tag">{{lang}}</div>
        {{/each}}
      </div>
        
      <div class="section">
        <h4>{{fa-icon 'home'}} City</h4>
        {{#each city in model.cities}}
          <div class="tag">{{city}}</div>
        {{/each}}
      </div>

      <div class="section">
        <h4>{{fa-icon 'taxi'}} Vehicle</h4>
        {{#each vehicle in model.vehicles}}
          <div class="tag">{{vehicle}}</div>
        {{/each}}
      </div>

      <div class="section">
        <h4>{{fa-icon 'tachometer'}} Driving Experience</h4>
        <div class="tag">
         {{model.drivingYears}} years
            </div>
      </div>
    </div>

    <div class="small-6 columns main-content">
      <div class="profile-avatar">
        <img class="avatar-image" {{bind-attr src=model.avatarUrl}} alt="">
      </div>
        <div class="profile-contact section">
        <!-- <h4>{{fa-icon 'user'}} Contact</h4> -->
        {{#if model.facebookUrl}}
          <a {{bind-attr href=model.facebookUrl}}>{{fa-icon "facebook-square" size=2}}</a>
        {{/if}}
        {{#if model.email}}
          <a {{bind-attr href=model.mailToEmail}}>{{fa-icon "envelope-o" size=2}}</a>
        {{/if}}
        {{#if model.phone}}
          <a {{bind-attr href=model.callToPhone}}>{{fa-icon "phone" size=2}}</a>
        {{/if}}
      </div>
        
      <div class="profile">
        <h3>{{model.fullName}}</h3>
        <div class="divider"></div>
        <h6>{{model.nickname}}</h6>
        <p>{{model.description}}</p>
      </div>
    </div>

    <div class="small-3 columns right">
      <div class="section">
        <h4>{{fa-icon 'thumbs-up'}} Rating</h4>
            <i class="fa fa-star-o fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
            <i class="fa fa-star-o fa-2x"></i>
      </div>
        
        <div class="section">
        <h4>{{fa-icon 'list-ul'}} Reviews</h4>
        
          <div class="tag">
            Review 1
            
            </div>
            
            <div class="tag">
            Review 2
            
            </div>
       
      </div>

      
    </div>
  </div>
</div>
